<h1>投稿一覧</h1>

  <% @posts.each do |post| %>
    <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
    <% end %>
    <%= post.user.user_name %>
    <%= post.caption %>
    <%= image_tag post.get_post_image(400,400)%>
    <%= link_to "投稿詳細", post_path(post) %>
    <% end %>



<!--投稿一覧で必要な情報は？-->
<!--プロフ画像-->
<!--投稿したユーザー名-->
<!--投稿の説明文-->
<!--コメント数-->
<!--いいね数(投稿一覧画面からもいいねできるのが望ましい)-->
