<div class="container mt-5 ">
 <div class="row">
 <div class="col-2">
 </div>
<h3 class="text-under-line">投稿リスト</h3>
</div>




 <% if @posts.present? %>

 <div class="row mt-3">
 <div class="col-2">
 </div>
 <div class="col-6 btn-group">
 <%= link_to "投稿新着順", posts_path(latest: "true"),class: "btn btn-outline-primary"%>
  <%= link_to "投稿古い順", posts_path(old: "true"),class: "btn btn-outline-primary"%>
 <%= link_to "いいね投稿", favorites_user_path(current_user), class: "btn btn-outline-primary" %>
 <%= link_to "フォローユーザー投稿", following_posts_users_path(current_user),class: "btn btn-outline-primary"%>
 </div>
</div>


<% @posts.each do |post| %>
<div class="row mt-4">

  <div class="col-2">
  </div>

  <div class="col-1">
  <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
  <% end %>
  </div>

  <div class='col-1'>
  <%= post.user.user_name %>
  </div>


   <div class='col-2'>
  <% post.tags.each do |tag| %>
  <%= link_to search_path(content: tag.name, model:"tag", method: "perfect"), class: "btn btn-outline-dark" do %>
   <%= tag.name %>
  <% end %>
  <% end %>
</div>





  <div class='col-2'>
  <%= link_to "投稿詳細", post_path(post), class: "btn btn-secondary" %>
  </div>

</div>


<div class="row">

  <div class="col-3">
  </div>

  <div class='col-2'>
  <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
  </div>

</div>


<div class="row">

  <div class="col-3">
  </div>

  <div class='col-7'>
   <%= post.caption %>
  </div>

</div>


<div class="row">

  <div class="col-3">
  </div>

  <div class='col-7'>
  <% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
  <% else %>
  <% end %>
  </div>

</div>

<div class="row">

  <div class="col-3">
  </div>

<div class="col-3">
<div class="follow">

    <%= render "public/shared/favorites_btn", post: post %>
 </div>

 </div>

</div>
<% end %>

<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5>投稿はありません</h5>
</div>

</div>

<% end %>


<div class="row mx-auto justify-content-center mt-4">
     <%= paginate @posts %>
</div>