<h1>投稿一覧</h1>

<div class="btn-group">
 <%= link_to "投稿新着順", posts_path(latest: "true"),class: "btn btn-primary"%>
 <%= link_to "フォローした人の投稿一覧", following_posts_users_path(current_user),class: "btn btn-info"%>
</div>


  <% @posts.each do |post| %>
    <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
    <% end %>
    <%= post.user.user_name %>
    <%= post.caption %>


     <% post.tags.each do |tag| %>
        <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %>
      <% end %>




   <% if post.post_image.attached? %>
    　<%= image_tag post.get_post_image(400,400)%>
     <% else %>
     <% end %>
    <%= link_to "投稿詳細", post_path(post) %>
    <% end %>



<!--投稿一覧で必要な情報は？-->
<!--プロフ画像-->
<!--投稿したユーザー名-->
<!--投稿の説明文-->
<!--コメント数-->
<!--いいね数(投稿一覧画面からもいいねできるのが望ましい)-->
