<div class="container mt-5">

  <h3>
  <span class="text-under-line">フォローリスト</span>
</h3>


<% if @users.exists? %>
 <table class="table mt-3">
  <tr>
    <th class="col-1"></th>
    <th class="col-2">ユーザー名</th>
    <th class="col-1">投稿数</th>
    <th class="col-2">フォロー数</th>
    <th class="col-2">フォロワー数</th>
    <th class="col-2"></th>
    <th class="col-2"></th>
  </tr>


<% @users.each do |user| %>
 <tr>
   <td class="col-1">
     <%= link_to user_path(user) do %>
     <%= image_tag user.get_profile_image(50,50) %>
     <% end %>
   </td>
    <td class="col-2"><%= user.user_name %></td>
    <td class="col-1">投稿数:<%= user.posts.count %></td>
    <td class="col-2">フォロー数: <%= user.followings.count %></td>
    <td class="col-2">フォロワー数: <%= user.followers.count %></td>

    <td class="col-2" id="follow-<%=user.id %>">
 <%= render "public/shared/follow_btn", user: user %>
  </td>

<td class="col-2">
  <%= link_to "ユーザー詳細", user_path(user), class: "btn btn-secondary" %>
  </td>
  </tr>
<% end %>
</table>

<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
</div>

<div class="row mx-auto justify-content-center">
     <%= paginate @users %>
</div>