<% if @model == 'user' %>
	<h3>ユーザー検索結果 "<%= @content %>"</h3>
<div>
    <% @records.each do |user| %>
        <%= image_tag user.get_profile_image(50,50) %>
        <%= user.user_name %>
    <% end %>
</div>

<% elsif @model == 'post' %>
	<h3>投稿検索結果 "<%= @content %>"</h3>
  <div>
    <% @records.each do |post| %>
      <%= image_tag post.user.get_profile_image(50,50) %>
      <%= post.caption %>
    <% end %>
  </div>

<% elsif @model == 'post' || @model == 'tag' %>
	<h3>タグ検索結果 "<%= @content %>"</h3>

  <% @records.each do |post| %>
      <%= image_tag post.user.get_profile_image, size: '50x50' %>
      <%= post.caption %></td>
      <% post.tags.each do |tag| %>
       <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %>
      <% end %>
    <% end %>
 <% end %>


