<% if @model == 'user' %>
  <div class="container mt-5">
	<h3>
	  <span class="text-under-line">
	  ユーザー検索結果 "<%= @content %>"
	  </span>
	 </h3>


	<% if @records.present? %>
	<div><%= render "public/users/index", users: @records %></div>
</div>

<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5>
  <span class="text-under-line-blue">
   "<%= @content %>"というユーザーはいません
  </span>


</h5>
</div>

</div>

<% end %>




<% elsif @model == 'post' %>




<div class="container mt-5">


  <div class="row">
   <div class="col-2">
  </div>
	<h3>
	  <span class="text-under-line">
	  投稿検索結果 "<%= @content %>"
	  </span>
	 </h3>
	</div>


	<% if @records.present? %>

  <div>
    <%= render "public/posts/posts_index", posts: @records %>
</div>

<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5>
  <span class="text-under-line-blue">
  "<%= @content %>"の投稿はありません
  </span>

</h5>
</div>

</div>

<% end %>







<% elsif @model == 'tag' %>
<div class="container mt-5">

  <div class="row">
   <div class="col-2">
  </div>
	<h3>
	  <span class="text-under-line">
	  タグ検索結果 "<%= @content %>"
	  </span>
	  </h3>
	</div>

	<% if @records.present? %>

	<div><%= render "public/posts/posts_index", posts: @records %></div>


	<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5>
  <span class="text-under-line-blue">
   "<%= @content %>"のタグはありません
  </span>
</h5>
</div>

</div>

<% end %>





</div>
<% end %>


<%= render "public/shared/paginate", obj: @records %>

