<div class="container mt-5 ">
  <div class="row justify-content-center">
    <div class="col-10">
<h3 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
  <span class="text-under-line"><%= @user.user_name %> さんとのチャットルーム</span>
</h3>




<div class="message">
  <%= render "public/chats/index", chats: @chats %>
</div>




<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_area :message, class: "form-control chat-textarea",rows: 4, placeholder: "ここにメッセージを入力してください" %>
  <%= f.hidden_field :room_id %>
<% end %>
</div>
</div>
</div>