<% if @model == 'user' %>
  <div class="container mt-5">
	<h3 class="text-under-line">ユーザー検索結果 "<%= @content %>"</h3>
  <table class="table mt-3">
  <tr>
    <th class="col-1"></th>
    <th class="col-2">ユーザー名</th>
    <th class="col-1">投稿数</th>
    <th class="col-2">フォロー数</th>
    <th class="col-2">フォロワー数</th>
    <th class="col-2"></th>
    <th class="col-2"></th>
  </tr>

    <% @records.each do |user| %>
        <tr>
   <td class="col-1"><%= image_tag user.get_profile_image(50,50) %></td>
    <td class="col-2"><%= user.user_name %></td>
    <td class="col-1">投稿数:<%= user.posts.count %></td>
    <td class="col-2">フォロー数: <%= user.followings.count %></td>
    <td class="col-2">フォロワー数: <%= user.followers.count %></td>

    <td class="col-2">
       <%= link_to "ユーザー詳細", user_path(user), class: "btn btn-secondary" %>
    </td>
</tr>
<% end %>
</table>
</div>


<% elsif @model == 'post' %>
<div class="container mt-5">

  <div class="row">
   <div class="col-2">
  </div>
	<h3 class="text-under-line">投稿検索結果 "<%= @content %>"</h3>
	</div>


	<% if @records.present? %>

  <div>
<%= render "admin/posts/index", posts: @records %>
</div>
<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5>"<%= @content %>"の投稿はありません</h5>
</div>

</div>
</div>

<% end %>



<% elsif @model == 'post' || @model == 'tag' %>
<div class="container mt-5">



<div class="row">
   <div class="col-2">
  </div>
	<h3 class="text-under-line">タグ検索結果 "<%= @content %>"</h3>
</div>
	<% if @records.present? %>

	<div><%= render "admin/posts/index", posts: @records %></div>


	<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5>"<%= @content %>"のタグはありません</h5>
</div>

</div>

<% end %>


</div>
<% end %>