<% posts.each do |post| %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-1">
  <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
  <% end %>
  </div>

  <div class='col-1'>
  <%= post.user.user_name %>
  </div>


   <div class='col-2'>
  <% post.tags.each do |tag| %>
  <%= link_to search_path(content: tag.name, model:"tag", method: "perfect"), class: "btn btn-outline-dark" do %>
   <%= tag.name %>
  <% end %>
  <% end %>
</div>





  <div class='col-2'>
  <%= link_to "投稿詳細", admin_post_path(post), class: "btn btn-secondary",'data-turbolinks': false %>
  </div>

</div>


<div class="row">

  <div class="col-3">
  </div>

  <div class='col-2'>
  <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
  </div>

</div>


<div class="row">

  <div class="col-3">
  </div>

  <div class='col-7'>
   <%= post.caption %>
  </div>

</div>


<div class="row">

  <div class="col-3">
  </div>

  <div class='col-7'>
  <% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
  <% else %>
  <% end %>
  </div>

</div>

<div class="row">

  <div class="col-3">
  </div>

 <div class="col-3">
  ♥<%= post.favorites.count %>
 <span class="ml-1">コメント数：<%= post.post_comments.count %></span>
 </div>

</div>
<% end %>