<div>
<% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>
</div>

<div class="container mt-5">

 <h2 class="text-center">
   ボウリングの輪を広げよう！
</h2>

<h3 class="text-center mt-3">
   <div class="fa-solid fa-bowling-ball"></div>
   Bowlers
</h3>


<h6 class="text-center mt-3">
   〜ボウラーと繋がるSNS〜
</h6>


<div class="row justify-content-center pt-2">
<div class="col-4">
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-secondary",style: "width: 100%;" %>
</div>
</div>


<div class="row justify-content-center pt-2">
<div class="col-4">
   <%= link_to "ログインはこちら", new_user_session_path, class: "btn btn-primary",style: "width: 100%;" %>
</div>
</div>


 <div class="row justify-content-center pt-2">
<div class="col-4">
   <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-success",style: "width: 100%;" %>
</div>
</div>


</div>

<div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag 'nature-1.jpg' %>
        </div>
        <div class="swiper-slide">
           <%= image_tag 'nature-1.jpg' %>
        </div>
        <div class="swiper-slide">
           <%= image_tag 'nature-1.jpg' %>
        </div>
        <div class="swiper-slide">
           <%= image_tag 'nature-1.jpg' %>
        </div>
        <div class="swiper-slide">
           <%= image_tag 'nature-1.jpg' %>
        </div>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
</div>
