<div class="container mt-5">
<h3>コメントリスト</h3>
<table class="table mt-3">
  <tr>
    <th class="col-1"></th>
    <th class="col-2">名前</th>
    <th class="col-5">コメント</th>
    <th class="col-1">日時</th>
    <th class="col-1"></th>
  </tr>
<% @post_comments.each do |post_comment| %>
  <tr>
    <td class="col-1">
    <%= link_to admin_user_path(post_comment.user_id) do %>
     <%= image_tag @users.find(post_comment.user_id).get_profile_image(50,50) %>
    <% end %>
    </td>
    <td class="col-2"><%= @users.find(post_comment.user_id).user_name %></td>
    <td class="col-5"><%= post_comment.comment %></td>
    <td class="col-1"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
    <td class="col-1">
    <%= link_to '削除', admin_post_comment_path(post_comment), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

</div>
