<div class="container mt-5">
  <div class="row">

<h3>
  <%= @user.last_name+@user.first_name %>さんの会員情報編集
</h3>

<div><%= render "public/shared/error_messages", resource: @user %></div>

<table class="table mt-3">
<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
<tr>
<td><%= f.label :会員id %></td>
<td></td>
<td><%= @user.id %></td>
</tr>

<tr>
  <td>名前</td>
  <td><%= f.label :last_name, "(姓)" %></td>
  <td>
  <%= f.text_field :last_name, autofocus: true%>
  <%= f.label :first_name, "(名)" %>
  <%= f.text_field :first_name %>
  </td>
</tr>

<tr>
  <td>フリガナ</td>
  <td><%= f.label :last_name_kana, "(セイ)" %></td>
  <td>
  <%= f.text_field :last_name_kana %>
  <%= f.label :first_name_kana, "(メイ)" %>
  <%= f.text_field :first_name_kana %>
  </td>
</tr>

<tr>
  <td><%= f.label :email, "メールアドレス" %></td>
  <td></td>
  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
</tr>

<tr>
  <td><%= f.label :プロフィール画像 %></td>
  <td></td>
  <td><%= f.file_field :profile_image, accept: "image/*" %></td>
</tr>

<tr>
  <td><%= f.label :ユーザー名 %></td>
  <td></td>
  <td><%= f.text_field :user_name %></td>
</tr>

<tr>
  <td><%= f.label :自己紹介文 %></td>
  <td></td>
  <td><%= f.text_area :introduction %></td>
</tr>

<tr>
<td><%= f.label :会員ステータス %></td>
<td></td>
<td>
<%=f.radio_button :is_active, true %>
<%=f.label :is_active_true,"有効" %>
<%=f.radio_button :is_active, false %>
<%=f.label :is_active_false,"退会" %>
</td>
</tr>

<tr>
  <td></td>
  <td></td>
  <td><%=f.submit "変更内容を保存", class: "btn btn-success" %></td>
</tr>
<% end %>
</table>
</div>
</div>