<div class="container mt-5">
  <div class="row main-row">
    <div class="col-12">

<div class="form-row">
     <h4 class="form-group col-4">
       <strong>
         <%= @user.last_name+@user.first_name %>さんの会員情報編集
         </strong>
      </h4>
</div>
     <%= form_with model: @user, url: user_registration_path do |f| %>


     <%= render "public/shared/error_messages", resource: @user %>


     <div class="form-row mt-3">
        <span class="form-group col-3"><%= f.label :会員id %></span>
        <div class="form-group col-3">
         <%= @user.id %>
        </div>
      </div>






      <div class="form-row">
       <span class="form-group col-3 pt-4">名前</span>
        <div class="form-group col-3">
         <label for="last_name">(姓)</label>
         <%= f.text_field :last_name, class: "form-control"%>
        </div>
        <div class="form-group col-3">
         <label for="first_name">(名)</label>
         <%= f.text_field :first_name, class: "form-control"%>
        </div>
      </div>

      <div class="form-row">
        <span class="form-group col-3 pt-4">フリガナ</span>
        <div class="form-group col-3">
          <label for="last_name_kana">(セイ)</label>
          <%= f.text_field :last_name_kana, class: "form-control"%>
        </div>
        <div class="form-group col-md-3">
          <label for="first_name_kana">(メイ)</label>
          <%= f.text_field :first_name_kana, class: "form-control"%>
        </div>
      </div>


      <div class="form-row">
        <span class="form-group col-3">ユーザー名</span>
        <div class="form-group col-3">
         <%= f.text_field :user_name, class: "form-control" %>
        </div>
      </div>







<div class="form-row">
        <span class="form-group col-3"><%= f.label :自己紹介文 %></span>
        <div class="form-group col-6">
         <%= f.text_area :introduction, class: "form-control",rows: 4 %>
        </div>
      </div>






      <div class="form-row">
        <span class="form-group col-3">メールアドレス</span>
        <div class="form-group col-6">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <span class="form-group col-3">パスワード(6文字以上)</span>
        <div class="form-group col-3">
         <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <span class="form-group col-3">パスワード(確認用)</span>
        <div class="form-group col-3">
         <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>







      <div class="form-row">
        <span class="form-group col-3"><%= f.label :会員ステータス %></span>
        <div class="form-group col-3">
          <%=f.radio_button :is_active, true %>
          <%=f.label :is_active_true,"有効" %>
          <%=f.radio_button :is_active, false %>
          <%=f.label :is_active_false,"退会" %>
        </div>
      </div>











      <div class="actions form-group justify-content:center; d-flex">
        <span class="form-group col-3"></span>
        <%= f.submit "変更内容を保存",class: "btn btn-success col-3 " %>
      </div>
      <% end %>




</div>
  </div>
</div>