<h1>
  <%= @user.last_name+@user.first_name %>さんの会員情報編集
</h1>


<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>

<div>
  <%= f.label :プロフィール画像 %>
  <%= f.file_field :profile_image, accept: "image/*" %>
</div>

<div>
<%= f.label :ユーザー名 %>
<%= f.text_field :user_name %>
</div>

<div>
<%= f.label :自己紹介文 %>
<%= f.text_area :introduction %>
</div>

<div>
<%= f.label :会員id %>
<%= @user.id %>
</div>

<div>
<%= f.label :名字 %>
<%=f.text_field :last_name %>
</div>

<div>
<%= f.label :名前 %>
<%=f.text_field :first_name %>
</div>

<div>
<%= f.label :名字カナ %>
<%=f.text_field :last_name_kana %>
</div>

<div>
<%= f.label :名前カナ %>
<%=f.text_field :first_name_kana %>
</div>

<div>
<%= f.label :メールアドレス %>
<%=f.text_field :email %>
</div>

<div>
<%= f.label :会員ステータス %>
<%=f.radio_button :is_active, true %>
<%=f.label :is_active_true,"有効" %>
<%=f.radio_button :is_active, false %>
<%=f.label :is_active_false,"退会" %>
</div>

<div>
<%= f.submit "変更を保存" %>
</div>

<% end %>





