<div class="container mt-5">

<div class="row">
  <div class="col-2">
  </div>
  <div class="col-3">
<%= image_tag @user.get_profile_image(200,200) %>
</div>

<div class="col-6">
<table class="table mt-3 ">
<tr>
<td><%= @user.user_name %></td>
<td><%= link_to "プロフィール編集", edit_admin_user_path(@user), class: "btn btn-success" %></td>
</tr>

<tr>
<td><%= @user.last_name %> <%= @user.first_name %></td>
</tr>

<tr>
<td><%= @user.last_name_kana %> <%= @user.first_name %></td>
</tr>

<tr>
<td><%= @user.email %></td>
</tr>

<tr>
  <td>投稿<%= @user.posts.count %>件</td>
  <td>
  <%= link_to admin_user_followings_path(@user), class: "btn btn-outline-primary" do %>
フォロー中<%= @user.followings.count %>人
<% end %>
<span class="pl-1">
  <%= link_to admin_user_followers_path(@user), class: "btn btn-outline-primary" do %>
フォロワー<%= @user.followers.count %>人
<% end %>
</span>
</td>
</tr>

<tr>
<td><%= @user.introduction %></td>
</tr>
</table>
</div>
</div>
</div>


<div class="container mt-5 ">
  <% if @posts.present? %>
<div class="row">

  <div class="col-3">
  </div>

  <div class="col-3">
<%= link_to "投稿を全削除", destroy_posts_path, class: "btn btn-danger" %>
</div>

</div>


<% @posts.each do |post| %>
<div class="row mt-5">

  <div class="col-3">
  </div>

  <div class="col-1">
  <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
    <% end %>
  </div>

  <div class='col-2'>
  <%= post.user.user_name %>
  </div>

  <div class='col-2'>
  <% post.tags.each do |tag| %>
  <%= link_to search_path(content: tag.name, model:"tag", method: "perfect"), class: "btn btn-outline-dark" do %>
   <%= tag.name %>
  <% end %>
  <% end %>
</div>

  <div class='col-2'>
  <%= link_to "投稿詳細", post_path(post), class: "btn btn-secondary",'data-turbolinks': false %>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
  <div class='col-2'>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  </div>
</div>


<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
   <%= post.caption %>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
  <% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
  <% else %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
 <div class="col-3">
  ♥<%= post.favorites.count %> いいね
 <span class="ml-1">コメント件数：<%= post.post_comments.count %></span>
 </div>
</div>
<% end %>

<% else %>

<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-6 text-center">
<h5><%= @user.user_name %>さんの投稿はありません</h5>
</div>

</div>

<% end %>
</div>

<div class="row mx-auto justify-content-center">
     <%= paginate @posts %>
</div>