<div class="container mt-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<h2 class="text-center pt-5">
   <div class="fa-solid fa-bowling-ball"></div>
   Bowlers
</h2>


<h3 class="text-center pt-1">
   Bowlersにログイン
</h3>


<div class="row justify-content-center pt-2">
<div class="col-4">
  <%= f.label :メールアドレス %>
</div>
</div>


<div class="row justify-content-center">
<div class="col-4">
  <%= f.email_field :email,style: "width: 100%;", autofocus: true %>
</div>
</div>





<div class="row justify-content-center pt-2">
<div class="col-4">
  <%= f.label :パスワード%>
</div>
</div>


<div class="row justify-content-center">
<div class="col-4">
   <%= f.password_field :password,style: "width: 100%;" %>
</div>
</div>



<div class="row justify-content-center pt-2">
<div class="col-4">
  <%= f.submit "ログイン",class: "btn btn-primary",style: "width: 100%;" %>
</div>
</div>


<div class="row justify-content-center pt-2">
<div class="col-4">
   <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "btn btn-success",style: "width: 100%;" %>
</div>
</div>

<div class="row justify-content-center pt-2">
<div class="col-4">
   <%= link_to "トップに戻る", root_path, class: "btn btn-secondary",style: "width: 100%;" %>
</div>
</div>


<% end %>



