<h1>ユーザー編集画面</h1>

<%= form_with model: @user, url:user_path do |f| %>

<div>
  <%= f.label :プロフィール画像 %>
  <%= f.file_field :profile_image, accept: "image/*" %>
</div>

<div>
<%= f.label :ユーザー名 %>
<%= f.text_field :user_name %>
</div>

<div>
<%= f.label :自己紹介文 %>
<%= f.text_area :introduction %>
</div>

<div>
<%=f.submit "投稿する" %>
</div>

<% end %>

 <%= link_to "退会する", unsubscribe_users_path  %>




<!--ユーザー情報-->
<!--ユーザー名-->
<!--メールアドレス-->
<!--パスワード-->
<!--名字(漢字）-->
<!--名前(漢字)-->
<!--名字(フリガナ)-->
<!--名前(フリガナ)-->
<!--自己紹介文-->
<!--プロフィール画像-->
<!--会員ステータス-->
<!--性別記載した方がいいかな？-->

<!--編集するカラム-->
<!--ユーザー名-->
<!--自己紹介文-->
<!--プロフィール画像-->