<div class="container mt-5 ">
  <h3>いいね投稿リスト</h3>
<% if @favorite_posts.present? %>

<% @favorite_posts.each do |post| %>
<div class="row mt-4">
  <div class="col-2">
  </div>
  <div class="col-1">
  <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
    <% end %>
  </div>
  <div class='col-1'>
  <%= post.user.user_name %>
  </div>
<div class='col-1'>
  <% post.tags.each do |tag| %>
    <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %>
  <% end %>
  </div>
  <div class='col-2'>
  <%= link_to "投稿詳細", post_path(post), class: "btn btn-secondary" %>
  </div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div class='col-2'>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  </div>
</div>


<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
   <%= post.caption %>
  </div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
  <% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
  <% else %>
  <% end %>
  </div>
</div>

 <% end %>
<% else %>
  <p>いいねした投稿はありません</p>
<% end %>