<div class="container mt-5 ">
<h3 class="text-under-line">フォローユーザー投稿リスト</h3>

<% if @posts.present? %>

<%  @posts.each do |post| %>
<div class="row mt-4">
  <div class="col-2">
  </div>
  <div class="col-1">
  <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
    <% end %>
  </div>
  <div class='col-1'>
  <%= post.user.user_name %>
  </div>
<div class='col-1'>
  <% post.tags.each do |tag| %>
    <%= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %>
  <% end %>
  </div>
  <div class='col-2'>
  <%= link_to "投稿詳細", post_path(post), class: "btn btn-secondary" %>
  </div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div class='col-2'>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  </div>
</div>


<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
   <%= post.caption %>
  </div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
  <% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
  <% else %>
  <% end %>
  </div>
</div>


<div class="row">
  <div class="col-3">
  </div>
 <div class="col-3">
   <% if post.favorited_by?(current_user) %>

      <%= link_to post_favorite_path(post), method: :delete do %>
        ♥<%= post.favorites.count %> いいね
      <% end %>

    <% else %>
      <%= link_to post_favorite_path(post), method: :post do %>
        ♡<%= post.favorites.count %> いいね
      <% end %>
     <% end %>
 <span class="ml-1">コメント件数：<%= post.post_comments.count %></span>
 </div>
</div>

 <% end %>

<% else %>
  <p>フォローユーザーの投稿はありません</p>
<% end %>
</div>

 <div class="row mx-auto justify-content-center">
     <%= paginate @page_posts %>
</div>
