<h1>ユーザ一覧</h1>

<% @users.each do |user| %>
  <%= image_tag user.get_profile_image(50,50) %>
  <%= user.user_name %>

  投稿数:<%= user.posts.count %>
  フォロー数: <%= user.followings.count %>
  フォロワー数: <%= user.followers.count %>




   <% if current_user != user%>
   <% if current_user.following?(user) %>
   　 <span class= "btn btn-primary">フォロー中</span>
     <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
    <% end %>


  <%= link_to "プロフィールへ", user_path(user), class: "btn btn-secondary" %>
<% end %>


