<div class="container mt-5">

<div class="row">
  <div class="col-2">
  </div>
  <div class="col-3">
<%= image_tag @user.get_profile_image(200,200) %>
</div>

  <div class="col-6">
<table class="table mt-3 ">
<tr>
<td><%= @user.user_name %></td>


<% if current_user != @user%>
<td id="follow-<%=@user.id %>">
  <%= render "public/shared/follow_btn", user: @user %>
</td>
<% end %>


<% if current_user == @user%>

<% unless @user.guest_user? %>
  　<td>
    <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success" %>
    <%= link_to "いいね投稿リスト", favorites_user_path(current_user), class: "btn btn-primary" %>
    </td>
<% else %>

<td>
    <%= link_to "いいね投稿リスト", favorites_user_path(current_user), class: "btn btn-primary" %>
    </td>
<% end %>

<% end %>
</tr>

<tr>
  <td>投稿<%= @user.posts.count %>件</td>
  <td  id="follow-btn-<%=@user.id %>">
    <%= render "public/relationships/follow_btn", user: @user %>
</td>
</tr>

<tr>
<td><%= @user.introduction %></td>
</tr>
</table>
</div>
</div>







  <% if @posts.present? %>
<div class="row mt-4">
  <div class="col-3">
  </div>
  <div class="col-3">
<%= link_to "投稿を全削除", destroy_all_posts_path, class: "btn btn-danger" %>
</div>
</div>

<%= render "public/posts/posts_index", posts: @posts %>

<% else %>
<div class="row mt-4">
  <div class="col-3">
  </div>
  <div class="col-6 text-center">
<h5><%= @user.user_name %>さんの投稿はありません</h5>
</div>

</div>

<% end %>
</div>

 <div class="row mx-auto justify-content-center">
     <%= paginate @posts %>
</div>