<div class="container mt-5">

<div class="row">
  <div class="col-2">
  </div>
  <div class="col-3">
<%= image_tag @user.get_profile_image(200,200) %>
</div>

  <div class="col-5">
<table class="table mt-3 text-center">
<tr>
<td><%= @user.user_name %></td>

<% unless @user.guest_user? %>
<% if current_user != @user %>

  <% if current_user.following?(@user) %>
    <td><%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-danger" %></td>
  <% else %>
    <td><%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-primary" %></td>
  <% end %>
  <% else %>
  　<td><%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success" %></td>
    <td><%= link_to "いいね投稿リスト", favorites_user_path(current_user), class: "btn btn-primary" %></td>
  <% end %>
  <% end %>

<% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
    <td><%= link_to 'chatを始める', chat_path(@user.id), class: "btn btn-secondary" %></td>
<% end %>
</tr>

<tr>
  <td>投稿<%= @user.posts.count %>件</td>
  <td>
  <%= link_to user_followings_path(@user), class: "btn btn-outline-primary" do %>
フォロー中<%= @user.followings.count %>人
<% end %>
</td>
<td>
<%= link_to user_followers_path(@user), class: "btn btn-outline-primary" do %>
フォロワー<%= @user.followers.count %>人
<% end %>
</td>
</tr>

<tr>
<td><%= @user.introduction %></td>
</tr>
</table>
</div>
</div>
</div>


<div class="container mt-5 ">
<div class="row">

  <div class="col-3">
  </div>

  <div class="col-3">
<%= link_to "投稿を全削除", destroy_posts_path, class: "btn btn-danger" %>
</div>

</div>

<% if @posts.present? %>

<% @posts.each do |post| %>
<div class="row mt-5">

  <div class="col-3">
  </div>

  <div class="col-1">
  <%= link_to(post.user) do %>
    <%= image_tag post.user.get_profile_image(50,50)%>
    <% end %>
  </div>

  <div class='col-2'>
  <%= post.user.user_name %>
  </div>

  <div class='col-2'>
  <% post.tags.each do |tag| %>
  <%= link_to search_path(content: tag.name, model:"tag", method: "perfect"), class: "btn btn-outline-dark" do %>
   <%= tag.name %>
  <% end %>
  <% end %>
</div>

  <div class='col-2'>
  <%= link_to "投稿詳細", post_path(post), class: "btn btn-secondary" %>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
  <div class='col-2'>
  <%= post.created_at.strftime('%Y/%m/%d') %>
  </div>
</div>


<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
   <%= post.caption %>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
  <div class='col-7'>
  <% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
  <% else %>
  <% end %>
  </div>
  <% end %>
</div>
<% else %>
<div class="row mt-4">

  <div class="col-3">
  </div>

  <div class="col-5">
<h5><%= @user.user_name %>さんの投稿はありません</h5>
</div>

</div>

<% end %>
</div>