<div class="container mt-5">

<div class="row">
  <div class="col-3">
<%= image_tag @user.get_profile_image(200,200) %>
</div>

  <div class="col-9">
<table class="table mt-3">
<tr>
<td><%= @user.user_name %></td>
<td>
<% unless @user.guest_user? %>
<% if current_user != @user %>
  <% if current_user.following?(@user) %>
    <span class= "btn btn-primary">フォロー中</span>
    <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-primary" %>
  <% end %>
  <% else %>
    <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success" %>
    <%= link_to "いいね一覧", favorites_user_path(current_user), class: "btn btn-primary" %>
  <% end %>
  <% end %>
<% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
    <%= link_to 'chatを始める', chat_path(@user.id) %>
<% end %>
</td>
</tr>

<tr>
  <td>投稿<%= @user.posts.count %>件</td>
  <td>フォロー中<%= link_to @user.followings.count, user_followings_path(@user) %></td>
  <td>フォロワー<%= link_to @user.followers.count , user_followers_path(@user) %></td>
</tr>

<tr>
<td><%= @user.introduction %></td>
</tr>
</table>
</div>
</div>
</div>


<div class="container mt-5">

<%= link_to "投稿を全て削除する", destroy_all_posts_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に投稿を全て削除しますか？" } %>

<% @posts.each do |post| %>
<div class="row">

 <div class="col-1">
<%= image_tag post.user.get_profile_image(50,50)%>
</div>

<div class='col-1'>
<%= post.user.user_name %>
</div>
<div class='col-2'>
<%= link_to "投稿詳細", post_path(post), class: "btn btn-secondary" %>
</div>
</div>

<div class="row">
<div class="col-1">
</div>
<%= post.created_at.strftime('%Y/%m/%d') %>
</div>


<div class="row">
  <div class="col-1">
  </div>
<%= post.caption %>
</div>

<div class="row">
  <div class="col-1">
  </div>
<% if post.post_image.attached? %>
  <%= image_tag post.get_post_image(400,400) %>
<% else %>
<% end %>
</div>
<% end %>

</div>
